/* * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

.alignRight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 10px;
    margin-top: 20px;

    margin-right: 1%;
    justify-content: flex-end;
}
.navBar a:last-child{
    margin-right: 0px;
}

.navBar {
    display:flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content:flex-end;
    width: 50%;
    margin-bottom: 15px;
}

.header h1 {
    line-height: 1;
    padding: 5px 1% 5px 6%; 

}

header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: cornflowerblue;
}

h1 {
    margin-left: 1.5em;
}

#img1 {
    position: relative;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    size: 40em;
    flex: 1;
    width: 100px;
    height:100px;
    object-fit: scale-down;
}

#img2 {
    position: relative;
    text-align: center;
    color: white;
    flex: 1;
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

#img3 {
    position: relative;
    text-align: center;
    color: white;
    flex: 1;
    width:100px;
    height:100px;
    object-fit: scale-down;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}

.contact {
    display: flex;
    justify-content: space-evenly;
}


@media screen and (max-width: 768px) {
    html {
        width: 100%;
        height: auto;
    }
    
    .navBar {
        display: flex;
        flex-direction: column;
    }

    header {
        background-color: darkolivegreen;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

} */
/* 
.maintxt {
    background-image: url(purple\ box.png);
    background-size: cover;
} */

.maintxt {position: relative;}
.maintxt > img, .overlay-text {position: absolute;}